.block1 {
    /*margin:10px auto; !!!!!!!!!!!!!!!!!!!*/
    max-width: 100%;
    height: 100%;
}

.margin-my {
    /*margin: 10px 0 10px 0;*/
}

.form-control-text {
    height: 45px;
    border-radius: 5px 5px 5px 5px;
}

.form-control-password {
    height: 45px;
    border-radius: 5px 5px 5px 5px;
}

.logo {
    margin: 50px 0 0 0;
}